doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='../node.modules/handlebars/dist/handlebars.min.js')
    script(src='/javascripts/app.js')

  //{{#each this}}
  //
  //  <ul>
  //  <li>{{msg}}</li>
  //  <li>{{msg}}</li>
  //  <li>{{msg}}</li>
  //  <li>{{msg}}</li>
  //  </ul>
  //
  //{{/each}}

