extends ./layout

block content
    h1= title

    each meme in array
         #meme(data-id=meme.id)
             form
                fieldset
                    h2= meme.meme
                    img(src='/images/'+ meme.id +'.jpg')
                    br
                    input.message(type="text")
                    button.message New Message


