body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.msg li {
    list-style-type: none;
}

h2 {
    font-size: 30px;
    display:block;
    position:absolute;
    width:95.5%;
    top:-20px;
    left:auto;
    z-index:2;
    text-align:center;
    background-color: rgba(0, 0, 0, .50);
}

.img {
    background-size: cover;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

input {
    margin: 10px;
}

h1 {
    text-align:center;
}

h3 {
    text-align:center;
    border-bottom: solid grey thin;
}

.row {
    border-bottom: solid grey thin;
    margin-bottom: 20px;
}